<h2>{{ isEdit ? 'Editar' : 'Nova' }} Marca</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
    <label for="nomemarca">Nome da Marca: <span class="required">*</span></label>
    <input type="text" id="nomemarca" formControlName="nomemarca" required>
    <div class="error-message" *ngIf="form.get('nomemarca')?.hasError('required') && form.get('nomemarca')?.touched">
      Nome é obrigatório
    </div>
  </div>

  <div class="form-actions">
    <button type="submit" class="btn btn-primary">
      <i class="material-icons">save</i>
      {{ isEdit ? 'Atualizar' : 'Salvar' }}
    </button>
    <a routerLink="/marcas" class="btn btn-cancel">
      <i class="material-icons">close</i>
      Cancelar
    </a>
  </div>
</form>