<h2>{{ isEdit ? 'Editar' : 'Novo' }} Produto</h2>
<form (ngSubmit)="onSubmit()">

  <div>
    <label for="nomeproduto">Nome do Produto:</label>
    <input type="text" id="nomeproduto" [(ngModel)]="produto.nomeproduto" name="nomeproduto" required>
  </div>
  
  <div>
    <label for="valor">Valor (R$):</label>
    <input type="number" id="valor" [(ngModel)]="produto.valor" name="valor" required>
  </div>
  
  <div>
    <label for="quantidade">Quantidade:</label>
    <input type="number" id="quantidade" [(ngModel)]="produto.quantidade" name="quantidade" required>
  </div>

  <div>
    <label for="marca">Marca:</label>
    <select id="marca" [(ngModel)]="produto.marca.codmarca" name="marca" required>
      <option [ngValue]="undefined" disabled>Selecione...</option>
      <option *ngFor="let m of marcas" [value]="m.codmarca">{{ m.nomemarca }}</option>
    </select>
  </div>

  <div>
    <label for="tipo">Tipo:</label>
    <select id="tipo" [(ngModel)]="produto.tipo.codtipo" name="tipo" required>
      <option [ngValue]="undefined" disabled>Selecione...</option>
      <option *ngFor="let t of tipos" [value]="t.codtipo">{{ t.nometipo }}</option>
    </select>
  </div>

  <button type="submit">{{ isEdit ? 'Atualizar' : 'Salvar' }}</button>
  <a routerLink="/produtos" class="btn btn-cancel">Cancelar</a>
</form>