<h2>Lista de Marcas</h2>
<a routerLink="/marcas/novo" class="btn btn-primary">
  <i class="material-icons">add</i>
  Nova Marca
</a>

<table>
  <thead>
    <tr>
      <th>Código</th>
      <th>Nome</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let marca of marcas">
      <td>{{ marca.codmarca }}</td>
      <td>{{ marca.nomemarca }}</td>
      <td>
        <a [routerLink]="['/marcas/editar', marca.codmarca]" class="btn btn-edit">
          <i class="material-icons">edit</i>
          Editar
        </a>
        <button (click)="deleteMarca(marca.codmarca!)" class="btn btn-delete">
          <i class="material-icons">delete</i>
          Excluir
        </button>
      </td>
    </tr>
  </tbody>
</table>