<nav class="mega-menu">
  <ul>
    <li class="dropdown">
      <a class="dropbtn">Cadastros</a>
      <div class="dropdown-content">
        
        <div class="dropdown-column">
          <h3>Endereços</h3>
          <a routerLink="/bairros" routerLinkActive="active">Bairros</a>
          <a routerLink="/ceps" routerLinkActive="active">CEPs</a>
          <a routerLink="/ruas" routerLinkActive="active">Ruas</a>
          <a routerLink="/ufs" routerLinkActive="active">UFs</a>
        </div>

        <div class="dropdown-column">
          <h3>Produtos</h3>
          <a routerLink="/marcas" routerLinkActive="active">Marcas</a>
          <a routerLink="/tipos" routerLinkActive="active">Tipos</a>
        </div>

        <div class="dropdown-column">
          <h3>Outros</h3>
          <a routerLink="/sexos" routerLinkActive="active">Sexos</a>
        </div>

      </div>
    </li>
    </ul>
</nav>