<nav>
  <ul>
    <li><a routerLink="/sexos" routerLinkActive="active">Lista de Sexos</a></li>
    <li><a routerLink="/sexos/novo" routerLinkActive="active">Novo Sexo</a></li>
    <li><a routerLink="/bairros" routerLinkActive="active">Lista de Bairros</a></li>
    <li><a routerLink="/bairros/novo" routerLinkActive="active">Novo Bairro</a></li>
    <li><a routerLink="/ceps" routerLinkActive="active">Lista de Ceps</a></li>
    <li><a routerLink="/ceps/novo" routerLinkActive="active">Novo Cep</a></li>
  </ul>
</nav>
