.item-form {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 4px;
  margin-bottom: 20px;
}

.item-form-row {
  display: flex;
  gap: 20px; 
  margin-bottom: 15px;
  
  & > div {
    flex: 1; 
  }
}

.item-form select,
.item-form input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box; 
}

table {
  margin-top: 10px;
  margin-bottom: 20px;
}

table tfoot {
  background-color: #f2f2f2;
}

.form-actions {
  margin-top: 20px;
}